{% extends 'base.html' %}
{% comment %} Aqui van comentarios {% endcomment %}
{% block titulo %} Usuarios {% endblock %}
{% block encabezado %}
    <h1>USUARIOS </h1>
{% endblock %}
{% block contenido %}
	<h1>Colaboradores</h1>
	<ul>
		{% for dato in usuarios %}
		<li>{{dato.username}} - <em>{{dato.email}}</em>
			<ul>
				{% for item in recetas %}
				    {% if item.usuario == dato %}
				        <li>{{item}}</li>
				    {% endif %}
				{% endfor %}    
			</ul>
		{% endfor %}
		</li>
	</ul>
{% endblock %}